<!DOCTYPE html>
<html>
  <head>
    <title>Startoff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.logoURL = "<%= image_url('startoff-logo.png') %>";
      window.horn = "<%= image_url('horn.png') %>";
      window.map = "<%= image_url('map.png') %>";
      window.chat = "<%= image_url('chat.png') %>"
    </script>
  </head>

  <body>
   
    <%= yield %>
  </body>
</html>
