<!DOCTYPE html>
<html>
  <head>
    <title>Startoff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.logoURL = "<%= image_url('startoff-logo.png') %>";
      window.horn = "<%= image_url('warnings/horn.png') %>";
      window.map = "<%= image_url('warnings/map.png') %>";
      window.chat = "<%= image_url('warnings/chat.png') %>";
      window.warning = "<%= image_url('warnings/no-guarantee.png') %>"
      window.splash1 = "<%= image_url('splash-images/growth1.jpg') %>"
      window.splash2 = "<%= image_url('splash-images/growth2.jpg') %>"
      window.splash3 = "<%= image_url('splash-images/growth3.jpg') %>"
      window.splash4 = "<%= image_url('splash-images/growth4.jpg') %>"
    </script>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="description" content="Startoff Full Stack" />
    <meta name="title" property="og:title" content="Startoff" />
    <meta property="og:type" content="Website" />
    <meta property="og:image" content="https://live.staticflickr.com/65535/51884242544_09ad4b5a4b_k.jpg" />
    <meta property="og:description" content="A clone of the popular crowdfunding application Kickstarter" />
    <meta name="author" content="_" />

  </head>

  <body>
   
    <%= yield %>
  </body>
</html>
